{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "printWidth": 220,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 4  
}
